
@model project1.Models.Product
@{
    ViewData["Title"] = "ManageProduct";
    Layout = "";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/style.css">
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @{
                var product = ViewData["Product"] as Product;}
            <div class="modal-body">
                <form method="post" asp-controller="Admin" enctype="multipart/form-data" asp-action="EditProduct">
                    <label asp-for="Image" for="img">Select image:</label>
                    <input asp-for="Image" type="file" id="img" name="img" onchange="readURL(this);" accept="image/*" />
                    <img id="blah" src="#" alt="your image" />
                    <div class="form-group">
                        <label asp-for="ProductName" for="formGroupExampleInput">Product Name</label>
                        <input asp-for="ProductName" value="@product.ProductName" type="text" class="form-control" id="product_name" placeholder="Product Name">
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" for="formGroupExampleInput2">Price</label>
                        <input asp-for="Price" type="text" value="@product.Price" class="form-control" id="price" placeholder="Product Price">
                    </div>
                    <input asp-for="ProductId" type="hidden" value="@product.ProductId" id="product_id">
                    <div class="form-group">
                        <label asp-for="Size" class="mr-sm-2" for="inlineFormCustomSelect">Size</label>
                        <select asp-for="Size" class="custom-select mr-sm-2" id="size">
                            <option selected>FreeSize</option>
                            <option value="1">S</option>
                            <option value="2">M</option>
                            <option value="3">L</option>
                            <option value="3">XL</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Stock" for="formGroupExampleInput3">Stock</label>
                        <input asp-for="Stock" value="@product.Stock" type="text" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" id="stock" placeholder="Stock">
                    </div>
                    <p>123</p>
                    <div class="form-group">
                        <label asp-for="CategoryId" class="mr-sm-2" for="inlineFormCustomSelect">Category</label>
                        <select asp-for="CategoryId" class="custom-select mr-sm-2" id="category">
                            @foreach (var item in ViewData["Categories"] as List<Category>)
                            {
                                <option value="@item.CategoryId." selected="if(@item.CategoryId == @product.CategoryId)'selected'">@item.CategoryName</option>
                            }
                        </select>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $("body").on("submit", "#delete_form", function () {
        return confirm("Do you want to delete?");
    });
</script>